<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.base.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.base.model.Goods" >
    <constructor >
      <idArg column="goods_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="goods_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_origin" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_producer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_unit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_inprice" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="goods_outprice" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="goods_goodstype_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    goods_id, goods_name, goods_origin, goods_producer, goods_unit, goods_inprice, goods_outprice, 
    goods_goodstype_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from goods
    where goods_name = #{goodsName}
  </select>
  <select id="queryGoodsPager" resultType="java.util.Map">
    select g.goods_id as goodsId,g.goods_name as goodsName,g.goods_origin as goodsOrigin,g.goods_producer as goodsProducer,g.goods_unit as goodsUnit,
    g.goods_inprice as goodsInprice,g.goods_outprice as goodsOutprice,g.goods_goodstype_id as goodsGoodstypeId,t.goodstype_name as goodstypeName
    from goods g,goodstype t where g.goods_goodstype_id=t.goodstype_id
    <if test="null!=goodsName and ''!=goodsName ">
      and goods_name like concat('%',#{goodsName},'%')
    </if>
    <if test="null!=goodsOrigin and ''!=goodsOrigin ">
      and goods_origin like concat('%',#{goodsOrigin},'%')
    </if>
    <if test="null!=goodsProducer and ''!=goodsProducer ">
      and goods_producer like concat('%',#{goodsProducer},'%')
    </if>
    <if test="null!=goodsGoodstypeId and ''!=goodsGoodstypeId ">
      and goods_goodstype_id like concat('%',#{goodsGoodstypeId},'%')
    </if>
    order by goods_id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.base.model.Goods" >
    insert into goods ( goods_name, goods_origin,
      goods_producer, goods_unit, goods_inprice, 
      goods_outprice, goods_goodstype_id)
    values ( #{goodsName,jdbcType=VARCHAR}, #{goodsOrigin,jdbcType=VARCHAR},
      #{goodsProducer,jdbcType=VARCHAR}, #{goodsUnit,jdbcType=VARCHAR}, #{goodsInprice,jdbcType=DECIMAL}, 
      #{goodsOutprice,jdbcType=DECIMAL}, #{goodsGoodstypeId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.base.model.Goods" >
    update goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      goods_producer = #{goodsProducer,jdbcType=VARCHAR},
      goods_unit = #{goodsUnit,jdbcType=VARCHAR},
      goods_inprice = #{goodsInprice,jdbcType=DECIMAL},
      goods_outprice = #{goodsOutprice,jdbcType=DECIMAL},
      goods_goodstype_id = #{goodsGoodstypeId,jdbcType=BIGINT}
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
</mapper>