<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.base.mapper.GoodsTypeMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.base.model.GoodsType" >
    <constructor >
      <idArg column="goodstype_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="goodstype_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    goodstype_id, goodstype_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from goodstype
    where goodstype_name = #{goodstypeName}
  </select>
  <select id="queryGoodsPagePager" resultType="com.zking.erp.base.model.GoodsType">
    select <include refid="Base_Column_List"/> from goodstype where 1=1
    <if test="null!=goodstypeName and ''!=goodstypeName ">
      and goodstype_name like concat('%',#{goodstypeName},'%')
    </if>
    order by goodstype_id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goodstype
    where goodstype_id = #{goodstypeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.base.model.GoodsType" >
    insert into goodstype ( goodstype_name)
    values ( #{goodstypeName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.base.model.GoodsType" >
    update goodstype
    set goodstype_name = #{goodstypeName,jdbcType=VARCHAR}
    where goodstype_id = #{goodstypeId,jdbcType=BIGINT}
  </update>
</mapper>