<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.base.mapper.StoreoperMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.base.model.Storeoper" >
    <constructor >
      <idArg column="storeoper_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="storeoper_emp_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="storeoper_opertime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="storeoper_store_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="storeoper_goods_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="storeoper_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="storeoper_type" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    storeoper_id, storeoper_emp_id, storeoper_opertime, storeoper_store_id, storeoper_goods_id, 
    storeoper_num, storeoper_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from storeoper
    where storeoper_id = #{storeoperId,jdbcType=BIGINT}
  </select>
    <select id="selectAllPager" resultType="java.util.Map">
      select d.storeoper_id as storeoperId,a.emp_name as empName, DATE_FORMAT(d.storeoper_opertime, '%Y-%m-%d')as storeoperOpertime,b.store_name as storeName,c.goods_name as goodsName,d.storeoper_num as storeoperNum,(CASE WHEN d.storeoper_type = 0 THEN '入库' WHEN d.storeoper_type = 1 THEN '出库' END) as storeoperType from
emp as a,store as b,goods as c,storeoper as d where
a.emp_id=d.storeoper_emp_id and b.store_id = d.storeoper_store_id and c.goods_id=d.storeoper_goods_id
      <if test="storeoperStoreId!=null and ''!=storeoperStoreId">
        and d.storeoper_store_id=#{storeoperStoreId}
      </if>
      <if test="storeoperGoodsId!=null and ''!=storeoperGoodsId">
        and d.storeoper_goods_id=#{storeoperGoodsId}
      </if>
      <if test="storeoperEmpId!=null and ''!=storeoperEmpId">
        and d.storeoper_emp_id=#{storeoperEmpId}
      </if>
      <if test="storeoperType!=null and ''!=storeoperType">
        and d.storeoper_type=#{storeoperType}
      </if>
      <if test="StartTime!=null and StartTime!=''">
        AND  d.storeoper_opertime &gt;=str_to_date(#{StartTime},'%Y-%m-%d %H:%i:%S')
      </if>
      <if test="EndTime!=null and EndTime!=''">
        AND  d.storeoper_opertime &lt;=str_to_date(#{EndTime},'%Y-%m-%d %H:%i:%S')
      </if>

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from storeoper
    where storeoper_id = #{storeoperId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.base.model.Storeoper" >
    insert into storeoper (storeoper_id, storeoper_emp_id, storeoper_opertime, 
      storeoper_store_id, storeoper_goods_id, storeoper_num, 
      storeoper_type)
    values (#{storeoperId,jdbcType=BIGINT}, #{storeoperEmpId,jdbcType=BIGINT}, #{storeoperOpertime,jdbcType=TIMESTAMP}, 
      #{storeoperStoreId,jdbcType=BIGINT}, #{storeoperGoodsId,jdbcType=BIGINT}, #{storeoperNum,jdbcType=INTEGER}, 
      #{storeoperType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.base.model.Storeoper" >
    insert into storeoper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeoperEmpId != null" >
        storeoper_emp_id,
      </if>
      <if test="storeoperOpertime != null" >
        storeoper_opertime,
      </if>
      <if test="storeoperStoreId != null" >
        storeoper_store_id,
      </if>
      <if test="storeoperGoodsId != null" >
        storeoper_goods_id,
      </if>
      <if test="storeoperNum != null" >
        storeoper_num,
      </if>
      <if test="storeoperType != null" >
        storeoper_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeoperEmpId != null" >
        #{storeoperEmpId,jdbcType=BIGINT},
      </if>
      <if test="storeoperOpertime != null" >
        #{storeoperOpertime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeoperStoreId != null" >
        #{storeoperStoreId,jdbcType=BIGINT},
      </if>
      <if test="storeoperGoodsId != null" >
        #{storeoperGoodsId,jdbcType=BIGINT},
      </if>
      <if test="storeoperNum != null" >
        #{storeoperNum,jdbcType=INTEGER},
      </if>
      <if test="storeoperType != null" >
        #{storeoperType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.base.model.Storeoper" >
    update storeoper
    <set >
      <if test="storeoperEmpId != null" >
        storeoper_emp_id = #{storeoperEmpId,jdbcType=BIGINT},
      </if>
      <if test="storeoperOpertime != null" >
        storeoper_opertime = #{storeoperOpertime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeoperStoreId != null" >
        storeoper_store_id = #{storeoperStoreId,jdbcType=BIGINT},
      </if>
      <if test="storeoperGoodsId != null" >
        storeoper_goods_id = #{storeoperGoodsId,jdbcType=BIGINT},
      </if>
      <if test="storeoperNum != null" >
        storeoper_num = #{storeoperNum,jdbcType=INTEGER},
      </if>
      <if test="storeoperType != null" >
        storeoper_type = #{storeoperType,jdbcType=CHAR},
      </if>
    </set>
    where storeoper_id = #{storeoperId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.base.model.Storeoper" >
    update storeoper
    set storeoper_emp_id = #{storeoperEmpId,jdbcType=BIGINT},
      storeoper_opertime = #{storeoperOpertime,jdbcType=TIMESTAMP},
      storeoper_store_id = #{storeoperStoreId,jdbcType=BIGINT},
      storeoper_goods_id = #{storeoperGoodsId,jdbcType=BIGINT},
      storeoper_num = #{storeoperNum,jdbcType=INTEGER},
      storeoper_type = #{storeoperType,jdbcType=CHAR}
    where storeoper_id = #{storeoperId,jdbcType=BIGINT}
  </update>
    <update id="updateStoreoperStoreIdAndStoreoperGoodsId">
      update storeoper
      <set >
        <if test="storeoperEmpId != null" >
          storeoper_emp_id = #{storeoperEmpId,jdbcType=BIGINT},
        </if>
        <if test="storeoperOpertime != null" >
          storeoper_opertime = #{storeoperOpertime,jdbcType=TIMESTAMP},
        </if>
        <if test="storeoperNum != null" >
          storeoper_num = #{storeoperNum,jdbcType=INTEGER},
        </if>
        <if test="storeoperType != null" >
          storeoper_type = #{storeoperType,jdbcType=CHAR},
        </if>
      </set>
      where storeoper_store_id = #{storeoperStoreId,jdbcType=BIGINT} and   storeoper_goods_id = #{storeoperGoodsId,jdbcType=BIGINT}

    </update>
</mapper>