<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.base.mapper.StoreMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.base.model.Store" >
    <constructor >
      <idArg column="store_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="store_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="store_emp_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="store_address" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    store_id, store_name, store_emp_id, store_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from store
    where store_name = #{storeName}
  </select>
  <select id="queryStorerPager" resultType="java.util.Map">
    select s.store_id as storeId, s.store_name as storeName,s.store_address as storeAddress,e.emp_name as empName,s.store_emp_id as storeEmpId from store s,emp e
    where s.store_emp_id=e.emp_id
    <if test="null!=storeName and ''!=storeName ">
      and store_name like concat('%',#{storeName},'%')
    </if>
    <if test="null!=storeEmpId and ''!=storeEmpId ">
      and store_emp_id like concat('%',#{storeEmpId},'%')
    </if>
    <if test="null!=storeAddress and ''!=storeAddress ">
      and store_address like concat('%',#{storeAddress},'%')
    </if>
    order by store_id desc
  </select>
  <!-- <select id="queryStorerPager" resultType="com.zking.erp.base.model.Store">
     select s.store_id,s.store_name,s.store_address,e.emp_name from store s,emp e
     where s.store_emp_id=e.emp_id
     <if test="null!=storeName and ''!=storeName ">
       and store_name like concat('%',#{storeName},'%')
     </if>
     <if test="null!=storeEmpId and ''!=storeEmpId ">
       and store_emp_id like concat('%',#{storeEmpId},'%')
     </if>
     <if test="null!=storeAddress and ''!=storeAddress ">
       and store_address like concat('%',#{storeAddress},'%')
     </if>
     order by store_id desc
   </select>-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from store where store_id = #{storeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.base.model.Store" >
    insert into store (store_name, store_emp_id,
      store_address)
    values (#{storeName,jdbcType=VARCHAR}, #{storeEmpId,jdbcType=BIGINT},
      #{storeAddress,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.base.model.Store" >
    update store
    set store_name = #{storeName,jdbcType=VARCHAR},
      store_emp_id = #{storeEmpId,jdbcType=BIGINT},
      store_address = #{storeAddress,jdbcType=VARCHAR}
    where store_id = #{storeId,jdbcType=BIGINT}
  </update>
</mapper>