<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.base.mapper.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.base.model.Supplier" >
    <constructor >
      <idArg column="supplier_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="supplier_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="supplier_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="supplier_contact" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="supplier_tele" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="supplier_email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="supplier_type" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    supplier_id, supplier_name, supplier_address, supplier_contact, supplier_tele, supplier_email, 
    supplier_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where supplier_name = #{supplierName}
  </select>
    <select id="querySupplierPager" resultType="com.zking.erp.base.model.Supplier">
      select <include refid="Base_Column_List"/> from supplier where supplier_type=0
      <if test="null!=supplierName and ''!=supplierName ">
        and supplier_name like concat('%',#{supplierName},'%')
      </if>
      <if test="null!=supplierAddress and ''!=supplierAddress ">
        and supplier_address like concat('%',#{supplierAddress},'%')
      </if>
      <if test="null!=supplierContact and ''!=supplierContact ">
        and supplier_contact like concat('%',#{supplierContact},'%')
      </if>
      <if test="null!=supplierTele and ''!=supplierTele ">
        and supplier_tele like concat('%',#{supplierTele},'%')
      </if>
      <if test="null!=supplierEmail and ''!=supplierEmail ">
        and supplier_email like concat('%',#{supplierEmail},'%')
      </if>
      order by supplier_id desc
    </select>
    <select id="queryCustomerPager" resultType="com.zking.erp.base.model.Supplier">
      select <include refid="Base_Column_List"/> from supplier where supplier_type=1
      <if test="null!=supplierName and ''!=supplierName ">
        and supplier_name like concat('%',#{supplierName},'%')
      </if>
      <if test="null!=supplierAddress and ''!=supplierAddress ">
        and supplier_address like concat('%',#{supplierAddress},'%')
      </if>
      <if test="null!=supplierContact and ''!=supplierContact ">
        and supplier_contact like concat('%',#{supplierContact},'%')
      </if>
      <if test="null!=supplierTele and ''!=supplierTele ">
        and supplier_tele like concat('%',#{supplierTele},'%')
      </if>
      <if test="null!=supplierEmail and ''!=supplierEmail ">
        and supplier_email like concat('%',#{supplierEmail},'%')
      </if>
      order by supplier_id desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from supplier
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.base.model.Supplier" >
    insert into supplier ( supplier_name, supplier_address,
      supplier_contact, supplier_tele, supplier_email, 
      supplier_type)
    values (#{supplierName,jdbcType=VARCHAR}, #{supplierAddress,jdbcType=VARCHAR},
      #{supplierContact,jdbcType=VARCHAR}, #{supplierTele,jdbcType=VARCHAR}, #{supplierEmail,jdbcType=VARCHAR}, 
      #{supplierType,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.base.model.Supplier" >
    update supplier
    set supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      supplier_contact = #{supplierContact,jdbcType=VARCHAR},
      supplier_tele = #{supplierTele,jdbcType=VARCHAR},
      supplier_email = #{supplierEmail,jdbcType=VARCHAR},
      supplier_type = #{supplierType,jdbcType=BIGINT}
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </update>
</mapper>